<c-row class="g-3">
  <c-col [sm]="12" [md]="6" [lg]="4">
      <label cLabel for="fatherIdFilter">Filter by Father ID:</label>
      <input class="form-control" type="text" id="fatherIdFilter" [(ngModel)]="fatherIdFilter" (input)="applyFilters()">
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
      <label for="motherIdFilter">Filter by Mother ID:</label>
      <input class="form-control" type="text" id="motherIdFilter" [(ngModel)]="motherIdFilter" (input)="applyFilters()">
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
      <label for="dateOfBirthFilter">Filter by Date of Birth:</label>
      <input class="form-control" type="date" id="dateOfBirthFilter" [(ngModel)]="dateOfBirthFilter" (input)="applyFilters()">
  </c-col>
</c-row>

<c-row class="g-3">
  <c-col [sm]="12" [md]="6" [lg]="4">
      <label for="dateOfExitFilter">Filter by Date of Exit:</label>
      <input class="form-control" type="date" id="dateOfExitFilter" [(ngModel)]="dateOfExitFilter" (input)="applyFilters()">
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
      <label for="genderFilter">Filter by Gender:</label>
      <select class="form-control" id="genderFilter" [(ngModel)]="genderFilter" (change)="applyFilters()">
        <option value="">All</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
  </c-col>
  <c-col [sm]="12" [md]="6" [lg]="4">
      <label for="statusFilter">Filter by Status:</label>
      <select class="form-control" id="statusFilter" [(ngModel)]="statusFilter" (change)="applyFilters()">
        <option value="">All</option>
        <option value="Alive">Alive</option>
        <option value="Dead">Dead</option>
        <option value="Sold">Sold</option>
      </select>
  </c-col>
</c-row>



<table cTable>
  <thead cTableColor="light">
    <tr>
      <th scope="col">Identifier</th>
      <th scope="col">Father ID</th>
      <th scope="col">Mother ID</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Age</th>
      <th scope="col">Date of Exit</th>
      <th scope="col">Status</th>
      <th scope="col">Gender</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pig of filteredPigs">
      <td>{{ pig.identifier }}</td>
      <td>{{ pig.father_id }}</td>
      <td>{{ pig.mother_id }}</td>
      <td>{{ pig.date_birth }}</td>
      <td>{{ pig.date_birth | calculateAge }}</td>
      <td>{{ pig.date_exit }}</td>
      <td>{{ pig.status }}</td>
      <td>{{ pig.gender }}</td>
      <td>
        <c-dropdown variant="btn-group">
          <button cButton cDropdownToggle color="secondary" size="sm">
            <svg cIcon name="cil-settings"></svg>
          </button>
          <ul cDropdownMenu>
            <li><button cDropdownItem (click)="editMode(pig)">Edit</button></li>
            <li><button cDropdownItem (click)="deleteMode(pig)">Delete</button></li>
          </ul>
        </c-dropdown>
      </td>
    </tr>
  </tbody>
</table>

<c-pagination aria-label="Page navigation example">
  <li cPageItem *ngIf="currentPage > 1">
    <a cPageLink (click)="onPageChange(currentPage - 1)">Previous</a>
  </li>
  <li cPageItem *ngFor="let page of getPageNumbers()">
    <a cPageLink (click)="onPageChange(page)">{{ page }}</a>
  </li>
  <li cPageItem *ngIf="currentPage < totalPages">
    <a cPageLink (click)="onPageChange(currentPage + 1)">Next</a>
  </li>
</c-pagination>

<c-modal
  [keyboard]="false"
  [transition]="false"
  backdrop="static"
  class="position-static d-block show"
  id="modalStatic"
>

<c-modal id="deleteModal" [visible]="modalVisible" (visibleChange)="handleModalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Delete Pig</h5>
    <button (click)="toggleModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Are you sure you want to delete this pig?</c-modal-body>
  <c-modal-footer>
    <button (click)="cancelDelete()" cButton color="secondary">
      Cancel
    </button>
    <button cButton color="primary" (click)="deletePig()">Confirm</button>
  </c-modal-footer>
</c-modal>
